@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
body{
  background-color: rgba(200, 230, 201, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}